---
layout: default
---

<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/background_video.css">
<link rel="stylesheet" href="/assets/css/text_below_video.css">

<div class="background-video-wrapper">
    <video class="background-video" preload="auto" autoplay loop muted playsinline>
        <source src="{{ site.baseurl }}/assets/videos/gripper-demo.webm" type="video/webm">
    </video>
</div>

<div class="initial-content">
    <div id="main" role="main">
        <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
            <meta itemprop="headline" content="About">
            <div class="page__inner-wrap">
                <section class="page__content" itemprop="text">
                    <h2 id="about">About</h2>
                    <p>In this paper, we use impact-induced acceleration in conjunction with
                        periodic stick-slip to successfully and quickly transport parts vertically against gravity.</p>
                </section>
                <footer class="page__meta">
                </footer>
            </div>
        </article>
    </div>
</div>
